body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #888585;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: rgb(114, 110, 110);
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login {
    padding: 60px;
    background-color: #879291;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 700px;
    height: 400px;
    justify-content: center;
    display: auto;
    align-items: center;
}

.email {
    padding: 5px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: center;
    display: flex;
}

.password {
    padding: 5px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin: center;
    display: flex;
}